/* GENERAL STYLING */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f7fa;
}

/* HEADER */
.header {
  padding: 15px 40px;
  background: #ffffff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
  color: brown;
}

.header nav a {
  margin-left: 220px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

/* MAIN SECTION */
.container {
  display: flex;
  height: calc(100vh - 70px);
  padding: 0 40px;
  align-items: center;
  justify-content: center;
}

.CENTER {
  width: 300px;
  text-align: center;
  padding: 20px;
  margin: 0 40px; /* space between image + form */
}


/* LEFT SECTION */
.left img {
  max-width: 450px;
  width: 100%;
  border-radius: 15px;
}

/* RIGHT SECTION */
.right {
  margin-left: 560px;
  padding: 40px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  width: 350px;
}

.right h2 {
  margin-bottom: 20px;
}

.right form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.right form button {
  width: 100%;
  padding: 12px;
  background: #0078ff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.right form button:hover {
  background: #005fcc;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .container {
    flex-direction: column;
    padding: 20px;
    height: auto;
  }

  .right {
    margin-left: 0;
    margin-top: 30px;
  }
}

.footer{
  padding: 15px 40px;
  background: lightblue;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);

  text-decoration: solid;
  text-align: center;
  
}